body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.left-content {
  margin-left: 30px;
  width: 50%;
  font-size: 24px;
  text-align: left;
}

.review-section {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.reviewBody {
  text-align: center;
  align-items: center;
  font-size: x-large;
  width: 100%;
  height: 100%;
  padding: 5%;
  margin-right: 5%;
  background-color: #ffffff;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
}

.camel img {
  width: 700px;
}

.start-icon,
.student-icon,
.instructor-icon {
  margin-right: 5px;
}
.learnmore {
  font-size: 17px;
  color: grey;
}

.learn-more-btn {
  background-color: black;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.reviewBody {
}

.quote {
  margin-top: 110px;
  font-weight: bold;

  color: black;
}
.quote hr {
  width: 50%;
  margin-left: -1px;
}
.quotep {
  opacity: 30%;
}

.quote hr {
  border: 0;
  height: 4px;
  background-color: orange;
  font-weight: bold;
  width: 250px;
}
.quotep:hover {
  opacity: 100%;
  color: black;
}

/* /////////// */
/* .about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
} */

/* .about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, #4db5ff, transparent);
  display: grid;
  place-items: center;
} */

/* .about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: all 400ms ease;
  height: 100%;
}
#img-about {
  height: 100%;
} */

/* .about__me-image:hover {
  transform: rotate(0);
}
.about__content a {
  color: inherit;
  text-decoration: none;
} */

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  text-decoration: none;
}
#one:hover {
  transform: rotate(10deg);
  transition: all 400ms ease;
}
#two:hover {
  transform: rotate(10deg);
  transition: all 400ms ease;
}
#three:hover {
  transform: rotate(10deg);
  transition: all 400ms ease;
}

.about__card {
  background: black;
  border: 2px solid #4db5ff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: all 400ms ease;
}

.about__card:hover {
  background: #2c2c6c;
  border-color: transparent;
  cursor: pointer;
}

.about__card h5 {
  font-size: 0.95rem;
  color: #fff;
}

.about__card small {
  font-size: 0.7rem;
  color: #fff;
}

.about__icon {
  color: #4db5ff;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

/* =============== MEDIA QUARIES (MEDIUM DEVICES) =================*/

/* =============== MEDIA QUARIES (SMALL DEVICES) =================*/
@media screen and (max-width: 600px) {
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/* @media screen and (max-width: 600px) {
  .review-section {
    overflow: hidden;
  }
} */
