.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
#contact {
  width: 80%;
  margin-left: 20%;
}
.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: #4db5ff;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: all 400ms ease;
}

.contact__option:hover {
  background: black;
  color: #fff;
  border-color: rgba(77, 181, 255, 0.4);
}

.contact__option-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  /* background-color: rgb(84, 109, 33); */
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

.toast {
  position: fixed;
  top: 25px;
  right: 35px;
  border-radius: 12px;
  background: white;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid blue;
  overflow: hidden;
  transform: translateX(calc(100% + 40px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}
.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #4db5ff;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}
.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.message .text .text-1 {
  font-weight: 600;
  color: #fff;
}
.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}
.toast .close:hover {
  opacity: 1;
}
.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}
.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4db5ff;
}
.progress.active:before {
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    right: 100%;
  }
}

/* ============ FORM =========== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 15%;
}

input,
textarea {
  background-color: rgb(248, 247, 247);
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  /* background: transparent; */
  border: 2px solid rgba(77, 181, 255, 0.4);
  resize: none;
  color: #1f1f38;
}
.btn:hover {
  background: #4db5ff;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.button1 {
  display: inline-block;
  margin: 0 auto;
}

/* =============== MEDIA QUARIES (MEDIUM DEVICES) =================*/
@media screen and (max-width: 768px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* =============== MEDIA QUARIES (SMALL DEVICES) =================*/
@media screen and (max-width: 480px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    width: 90%;
  }
  input,
  textarea {
    width: 80%;
  }
}
