.profile-card {
  display: flex;
  float: left;
}
.upc {
  width: 350px;
  margin: 20px;
  border-radius: 4px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
}
.gradiant {
  background-image: linear-gradient(#4db5ff, #205fff);
  height: 125px;
  border-radius: 4px 4px 0px 0px;
}

.profile-down img {
  margin-left: 25%;
  height: 150px;
  border-radius: 100px;
  margin-top: -75px;
  padding: 5px;
  background: white;
}

.profile-title {
  margin-left: 30%;
  font-size: 36px;
  font-weight: 600;
}

.profile-description {
  padding: 20px 40px;
  font-size: 16px;
}

.profile-button {
  font-size: 16px;
  background: #4db5ff;
  margin: 10px 100px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 40px;
}
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 600px) {
  .profile-card {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 350px) {
  .upc {
    width: 250px;
  }
}
